<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="mt-3" v-if="status">{{status}}</div>
    <div class="row mt-3">
      <b-button class="col" variant="danger" @click="getValue(-1)"><strong>-</strong></b-button>
      <div class="ml-2 mr-2"><b-form-input class="input" v-model="starter" readonly=""/></div>
      <b-button class="col" variant="success" @click="getValue(1)"><strong>+</strong></b-button>
    </div>
    <div class="mt-3">{{starter}} power by 2 is equal to {{powerTwo}}</div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Vue.js + Vuex Tutorial'
    }
  },
  computed: {
    ...mapState('app', ['starter', 'status']),
    ...mapGetters('app', ['powerTwo'])
  },
  methods: {
    ...mapActions('app', ['getValue'])
  }
}
</script>
